# TP NoSQL

Prénom : Mohamed

Nom : AZEK

Pour ce TP noté vous avez trois heures pour le réaliser et 48 heures pour le finir si besoin. Le rendu final est attendu pour dimanche 29 septembre 2024 à 23 h 59.

Vous serrez évalués sur les requêtes mais également sur la qualité et la propreté du code. Pour chaque question, une réponse présentant les résultats est attendue.

In [2]:
# installation des packages pandas et pymongo
!pip install -r requirements.txt --quiet

In [34]:
import pymongo
import pandas as pd

URI = 'mongodb+srv://user_mongo:r5yroJGqJwOEh6Em@cluster-but-sd.7z6bi.mongodb.net/?retryWrites=true&w=majority&appName=cluster-but-sd'
client = pymongo.MongoClient(URI)
db = client.tp

# output the name of the collections in the database
print("Collections: ", db.list_collection_names())

Collections:  ['restaurants', 'movies', 'airbnb']

1. Combien de films sont dans la base de données ?

In [41]:

films_collection = db.movies


nombre_de_films = films_collection.count_documents({})

print(f"Nombre de films dans la base de données : {nombre_de_films}")

Nombre de films dans la base de données : 23530

2. Quel est le nombre moyen de votes par pays ? Trier les pays par nombre moyen de votes décroissant.

In [48]:
votes_moyens_par_pays = list(db.movies.aggregate([
    {"$unwind": "$countries"},  
    {"$group": {
        "_id": "$countries",  
        "MoyenneDesVotes": {"$avg": "$imdb.votes"}  
    }},
    {"$sort": {"MoyenneDesVotes": -1}}  
]))

votes_moyens_par_pays = pd.DataFrame(votes_moyens_par_pays)
print(votes_moyens_par_pays)

                      _id  MoyenneDesVotes
0                   Malta    210571.800000
1                 Bahamas    206061.000000
2             New Zealand     66589.269231
3    United Arab Emirates     53495.833333
4                     USA     35016.703663
..                    ...              ...
153                Kosovo       104.500000
154               Moldova       104.000000
155           North Korea        92.666667
156                Brunei        51.000000
157               Vanuatu         6.000000

[158 rows x 2 columns]

3. Donner la liste des différents genres de films.

In [52]:
genres_distincts = db.movies.distinct("genres")
print("les différent Genres de  films distincts sont :", genres_distincts)

les différent Genres de  films distincts sont : ['Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Talk-Show', 'Thriller', 'War', 'Western']

4. Combien de films ont une note IMDb supérieure à 8 ?

In [58]:
nombre_films_superieur_8 = db.movies.count_documents({"imdb.rating": {"$gt": 8}})  
print("il y a", nombre_films_superieur_8,"films avec une note IMDb supérieure à 8")

il y a 1177 films avec une note IMDb supérieure à 8 sont

5. Afficher le titre, l'année de sortie et les réalisateurs de tous les films (ne pas afficher l'ID).

In [62]:
liste_films = list(db.movies.find({}, {"title": 1, "year": 1, "directors": 1, "_id": 0}))
liste_films = pd.DataFrame(liste_films)

print("Voici le Titre, Année de sortie et Réalisateurs de tous les films :", liste_films)

Voici le Titre, Année de sortie et Réalisateurs de tous les films :                                                   title  \
0      Intolerance: Love's Struggle Throughout the Ages
1                             The Poor Little Rich Girl
2                                               The Kid
3                                        Miss Lulu Bett
4                                          Safety Last!
...                                                 ...
23525                                            Emelie
23526                                    Techo y comida
23527                                             Nahid
23528                                  Coin Locker Girl
23529                                 Tryapichnyy soyuz

                            directors  year
0                     [D.W. Griffith]  1916
1                  [Maurice Tourneur]  1917
2                   [Charles Chaplin]  1921
3               [William C. de Mille]  1921
4      [Fred C. Newmeyer, Sam Taylor]  1923
...                               ...   ...
23525                [Michael Thelin]  2015
23526      [Juan Miguel del Castillo]  2015
23527                [Ida Panahandeh]  2015
23528                   [Jun-hee Han]  2015
23529            [Mikhail Mestetskiy]  2015

[23530 rows x 3 columns]

6. Afficher le titre et le plot des films réalisés par D.W. Griffith.

In [64]:
liste_films_griffith = list(db.movies.find(
    {"directors": "D.W. Griffith"},  
    {"title": 1, "plot": 1, "_id": 0}  
))
liste_films_griffith = pd.DataFrame(liste_films_griffith)
print("Titre et Plot des films réalisés par D.W. Griffith :\n", liste_films_griffith)

Titre et Plot des films réalisés par D.W. Griffith :
                                                 plot  \
0  The story of a poor young woman, separated by ...
1  A greedy tycoon decides, on a whim, to corner ...
2  A frail waif, abused by her brutal boxer fathe...
3  The Civil War divides friends and destroys fam...

                                              title
0  Intolerance: Love's Struggle Throughout the Ages
1                                 A Corner in Wheat
2    Broken Blossoms or The Yellow Man and the Girl
3                             The Birth of a Nation

7. Quels sont les 5 acteurs les plus populaires (ceux qui ont joué dans le plus de films) ?

In [92]:
Acteur=db.movies.aggregate([
        {
            "$unwind": "$cast"
        },
        {
            "$group": {
                "_id": "$cast",
                "nombre_films": {"$sum" :1}
            }
        },
        {
            "$sort": {"nombre_films": -1}
        },
        {
            "$limit": 5
        }
    ])

pd.DataFrame(list(Acteur))

                    _id  nombre_films
0      Gèrard Depardieu            68
1        Robert De Niro            60
2         Michael Caine            52
3  Marcello Mastroianni            50
4         Max von Sydow            49

8. Quelles sont les 6 années avec le plus de films produits ?

In [72]:
top_6_annees_populaires = list(db.movies.aggregate([
    {"$group": {
        "_id": "$year",  
        "NombreDeFilms": {"$sum": 1}  
    }},
    {"$sort": {"nombreFilms": -1}},  
    {"$limit": 6} 
]))

top_6_annees_populaires = pd.DataFrame(top_6_annees_populaires)

print("Voici les 6 années avec le plus de films produits:\n", top_6_annees_populaires)

Les 6 années avec le plus de films produits:
     _id  NombreDeFilms
0  1936             39
1  1982            185
2  1949             63
3  1984            211
4  1939             29
5  1943             36

9. Combien de films ont été réalisés avant l'année 2000 et ont une note IMDb supérieure à 7 ?

In [139]:
Q9 = db.movies.aggregate([
    { 
        "$match": {  
            "year": { "$lt": 2000 },
            "imdb.rating": { "$gt": 7 }
        }
    },
    { 
        "$count": "nombre_de_films_avec_imdb_supérieur_à_7" 
    }
])

df = pd.DataFrame(list(Q9))
print("Les films qui ont été réalisés avant l'année 2000 et ont une note IMDb supérieure à 7 sont :\n", df)

Les films qui ont été réalisés avant l'année 2000 et ont une note IMDb supérieure à 7 sont :
    nombre_de_films_avec_imdb_supérieur_à_7
0                                     4747

10. Donner les 20 réalisateurs qui ont réalisé le plus de films (afficher seulement leur nom et le nombre de films).

In [103]:
real = db.movies.aggregate([
    { 
        "$unwind": "$directors"
    },
    { 
        "$group": { 
            "_id": "$directors",
            "nombre_films": { "$sum": 1 } 
        }
    },
    { 
        "$sort": { "nombre_films": -1 }  
    },
    { 
        "$limit": 20  
    }
])
pd.DataFrame(list(real))
df.rename(columns={"_id": "directeur/réalisateur/chef de projet/etc etc"})
df

   directeur/réalisateur/chef de projet/etc etc  nombre_films
0                                   Woody Allen            40
1                                     John Ford            35
2                                 Takashi Miike            34
3                                   John Huston            34
4                                 Werner Herzog            33
5                               Martin Scorsese            32
6                              Alfred Hitchcock            31
7                                  Sidney Lumet            30
8                                 Michael Apted            29
9                               Mario Monicelli            29
10                                 George Cukor            29
11                             Steven Spielberg            29
12                            Steven Soderbergh            28
13                                    Spike Lee            28
14                                Robert Altman            28
15                              Jean-Luc Godard            27
16                                    Ken Loach            27
17                                  Wim Wenders            27
18                               Clint Eastwood            27
19                                   Johnnie To            27

11. Quelle est la note IMDb moyenne des films sortis après 2010 ?

In [141]:
Q11 = db.movies.aggregate([
    { 
        "$match": {  
            "year": { "$gt": 2010 },  
            "imdb.rating": { "$exists": True } 
        }
    },
    { 
        "$group": { 
            "_id": None,  
            "IMDB MOYEN": { "$avg": "$imdb.rating" } 
        }
    }
])
df = pd.DataFrame(list(Q11))
print("la note IMDb moyenne des films sortis après 2010 sont :\n",df)

la note IMDb moyenne des films sortis après 2010 sont :
     _id  IMDB MOYEN
0  None    6.544033

12. (bonus) Afficher les films dont le titre contient le mot "love".

In [143]:
films_love = db.movies.aggregate([
    {
        "$match": {"title": {"$regex": "^love", "$options": "i"}}  
    },
    {
        "$project": {
            "_id": 0, 
            "title": 1 
        }
    }
])

result = pd.DataFrame(list(films_love))
print(f"Les films dont le titre contient le mot 'love' sont :\n{result['title']}")

Les films dont le titre contient le mot 'love' sont :
0                Love Finds Andy Hardy
1                      Love Me Tonight
2                     Love on the Dole
3      Love Is a Many-Splendored Thing
4                  Love Me or Leave Me
                    ...
123                Love at First Fight
124                        Love Steaks
125          Love Is the Perfect Crime
126                          Lovemilla
127                               Love
Name: title, Length: 128, dtype: object

13. (bonus) Afficher le titre des films ayant un score Rotten Tomatoes (viewer) supérieur à 75.

In [155]:
Q13 = db.movies.aggregate([
    {
        "$match": {"tomatoes.viewer.meter": {"$gt": 75}}  
    },
    {
        "$project": {
            "_id": 0, 
            "title": 1 
        }
    }
])

pd.DataFrame(list(Q13))

                                                 title
0     Intolerance: Love's Struggle Throughout the Ages
1                            The Poor Little Rich Girl
2                                              The Kid
3                                         Safety Last!
4                                         Wild Oranges
...                                                ...
6597                                             Luton
6598                                       Amira & Sam
6599                                     Misconception
6600                                             Grace
6601                         Batman: Assault on Arkham

[6602 rows x 1 columns]